
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> وبسایت نشریه خبری قارچ</title>
    <!-- Main Style -->
    <link rel="stylesheet" href="Assets/Style/style.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="Assets/bootstrap-5.3.2-dist/css/bootstrap.rtl.min.css" />
    <!-- flexslider -->
    <link type="text/css" href="Assets/FlexSlider/flexslider.css" rel="stylesheet" />
    <!-- header and nav Css Style -->
    <link type="text/css" href="Assets/Css/am-menu.css" rel="stylesheet" />
    <!-- Color-Palet -->
    <link type="text/css" href="Assets/Css/demo-style.css" rel="stylesheet" />
    <!-- navtab in HomePage -->
    <link type="text/css" href="Assets/Css/NavTabStyle.css" />
    <!-- TopReport in HomePage -->
    <link type="text/css" href="Assets/Css/TopReportsStyle.css" rel="stylesheet" />
    <!-- FlexSlider Css in HomePage -->
    <link type="text/css" href="Assets/FlexSlider/flexslider.css" rel="stylesheet" />
</head>

<body>
    <header class="steel-man am-header sticky">
        <div class="logo" title=" نشریه خبری قارچ ">
            <a href="index.html">
                <img src="Assets/Img/Logo/GharchNews.png" style="width: 120px; height: 40px;">
            </a>
        </div>

        <div class="search-trigger">
            <div class='s-wrapper'>
                <div id='circle'></div>
                <div id='bar'></div>
            </div>
        </div>
        <!--Search-trigger-->
        <div class="search-container">
            <div class="search-box">
                <form action="~/Search" class="search-form">
                    <input type="text" name="q" placeholder="جستجو کنید" id="search" autocomplete="off">
                    <div class="search-icon">
                        <!-- <i class="fa fa-search search-icon"></i> -->
                        <button style="background-color:transparent; border:none; color:white;"><i class="fa fa-search "></i></button>
                    </div>
                </form>
            </div>
            <!--//search-box-->
        </div>
        <!--//search-container-->
        <!--Menu Icon-->
        <div class="menu-trigger"></div>
    </header>
    <!--Side Menu Start-->
    <nav class="steel-man am-container ">
        <div class="position-relative">
            <h3 class=""> گالری تصاویر  <a href="index.html"> <img class="" src="Assets/Img/Logo/GharchNews.png" style="width: 80px; height: 30px; float: left;"> </a> </h3>
        </div>
        <div class="align-items-center mx-2">
            <i class="fa fa-folder-open text-white-50" style="font-size:.7rem;"></i>
            <a href="Gallery.html" class="text-white text-decoration-none">مشاهده همه گالری ها</a>
        </div>
        <ul class="grid-items">
            <li> <img src="Assets/Img/ReportImages/00f3b6c7-f00b-44eb-ac0a-ffb372d7bfd9.jpg" />  </li>
            <li> <img src="Assets/Img/ReportImages/05ee6adc-21af-44f9-9a74-1f71407d36cf.jpg" />  </li>
            <li> <img src="Assets/Img/ReportImages/182bdc16-e258-4d06-9e2b-fb8d2ccabe76.jpg" />  </li>
            <li> <img src="Assets/Img/ReportImages/432bbaff-160d-4f9d-86dd-f248bb780595.jpg" />  </li>
            <li> <img src="Assets/Img/ReportImages/48a057bb-0509-47ce-bd01-cd8e1fd2ac30.jpg" />  </li>
            <li> <img src="Assets/Img/ReportImages/53a53201-3fe5-4365-9be6-3a72fbebbabb.jpg" />  </li>
            <li> <img src="Assets/Img/ReportImages/6ebf87f6-01ff-4cf5-82af-3eaec4245c94.jpg" />  </li>
            <li> <img src="Assets/Img/ReportImages/8b83c6ce-9138-4c08-ad98-5165d8978798.jpg" />  </li>
        </ul>
        <h3>لینک های اصلی منو </h3>
        <ul class="list-item">
            <!--//sub-items-->
            <li> <a href="QuickAccess.html"> <span class="item-icon"> <img src="Assets/Img/Icons/QuickAccess.png" class="circle" /> </span> دسترسی سریع </a> </li>
            <li> <a href="Archive.html"> <span class="item-icon"> <img src="Assets/Img/Icons/Archive.png" /> </span> آرشیو اخبار </a> </li>
            <li> <a href="MostViewed.html"> <span class="item-icon"> <img src="Assets/Img/Icons/TopNews.jpg" class="rounded" /> </span> اخبار پربازدید </a> </li>
            <li> <a href="ContactUs.html"> <span class="item-icon"> <img src="Assets/Img/Icons/ContactUs.jpg" /> </span> ارتباط با ما  </a> </li>
        </ul>
        <h3>گروه های خبری</h3>
        <ul class="cloud-tags">
            <li><a> فرهنگی </a> </li>
            <li><a> ورزشی </a> </li>
            <li><a> اقتصادی </a> </li>
            <li><a> اجتماعی </a> </li>
            <li><a> بانوان </a> </li>
            <li><a> سیاسی </a> </li>
            <li><a> هنری </a> </li>
            <li><a> علمی </a> </li>
            <li><a> ویژه خبری </a> </li>
            <li><a> حوادث </a> </li>
            <li><a> چند رسانه ای </a> </li>
            <li><a> سلامت </a> </li>
        </ul>
    </nav>
    <!--Side Menu End-->
    <!--Main Start-->
    <main>
        <!--Start container -->
        <div class="container">
            <div class="row" style="margin-top: 50px;">
                @RenderBody()
            </div>
        </div>
    </main>
    <!--End Main -->
    <!--Start Footer -->
    <footer>

        <div class="col-12 row m-0 footer body-footer steel-man">
            <div class="col-12 col-md-6 col-lg-3 p-4">
                <h6 class="pb-4">درباره ما</h6>
                <p class="text-footer">
                    نشریه خبری قارچ که کار خود را از سال ۱۴۰۳ شروع کرده است تلاش دارد آخرین تحلیل‌ها و گزارش‌ها از مهم‌ترین اتفاقات روز ایران و جهان را به صورت آنلاین در اختیار مخاطبان خود قرار دهد. مشی رسانه‌ای این سایت، تحلیلی - خبری است و اعضای تحریریه این مجموعه می‌کوشند از قالب ظاهری خبرها فراتر رفته و به زوایای پنهان و آشکار حوادث سرک بکشند و با کندوکاو بیشتر، ناگفته‌ها و وجوه نامکشوف وقایع و حوادث را بیابند. این مجموعه رسانه‌ای خود را در امر اطلاع‌رسانی مستقل می‌داند و در چارچوب قوانین نظام جمهوری اسلامی ایران و تعهد به آرمان‌های انقلاب اسلامی و امام راحل و شهیدان انقلاب، از درغلتیدن به تمایلات حزبی و جناحی پرهیز دارد. این مجموعه اما نقد و تحلیل کارشناسانه دستگاه‌ها، عملکرد مسئولان و احزاب را وظیفه ذاتی خود می‌پندارد و آن را با هدف ارتقای دانایی جامعه، حق پرسشگری شهروندان و وظیفه پاسخگویی مسئولان با جدیت دنبال می‌کند.
                </p>
            </div>

            <div class="col-12 col-md-6 col-lg-3 p-4">
                <h6 class="pb-4">جدیدترین ارسال ها</h6>
                <ul class="list-unstyled">
                    <!--News 1 -->
                    <li class="d-block">
                        <div class="d-inline-flex align-items-center">
                            <a>
                                <img src="Assets/Img/ReportImages/ee5abd41-8ea7-4559-88f0-2ef16a141b2f.jpg" class="rounded img-Footer" alt="">
                            </a>
                            <p class="px-2">
                                <a class="text-decoration-none text-footer">
                                    ماجرای قهر و آشتی‌ها در صداوسیما/ زندگی شیرین می‌شود؟
                                </a>
                            </p>
                        </div>
                    </li>
                    <!--News 2 -->
                    <li class="d-block">
                        <div class="d-inline-flex align-items-center">
                            <a>
                                <img src="Assets/Img/ReportImages/56a51b62-c432-45fb-8f4f-6834dcdc694d.jpg" class="rounded img-Footer" alt="">
                            </a>
                            <p class="px-2">
                                <a class="text-decoration-none text-footer">
                                    سکوهای ورزشگاه آزادی آذرماه آماده می‌شود
                                    <i class="fa fa-film"></i>
                                </a>
                            </p>
                        </div>
                    </li>
                    <!--News 3 -->
                    <li class="d-block">
                        <div class="d-inline-flex align-items-center">
                            <a>
                                <img src="Assets/Img/ReportImages/a0d628e0-51ae-401e-b311-7437185f603f.jpg" class="rounded img-Footer" alt="">
                            </a>
                            <p class="px-2">
                                <a class="text-decoration-none text-footer">
                                    تصاویری از بازیگوشی خانواده جدید پلنگ ایرانی در پارک ملی تندوره
                                    <i class="fa fa-film"></i>
                                </a>
                            </p>
                        </div>
                    </li>
                    <!--News 4 -->
                    <li class="d-block">
                        <div class="d-inline-flex align-items-center">
                            <a>
                                <img src="Assets/Img/ReportImages/00f3b6c7-f00b-44eb-ac0a-ffb372d7bfd9.jpg" class="rounded img-Footer" alt="">
                            </a>
                            <p class="px-2">
                                <a class="text-decoration-none text-footer">
                                    ضایعات غذا در کشور بیش از ۲.۵ برابر اتحادیه اروپا/ "نان، برنج و میوه" ...
                                </a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-md-6 col-lg-3 p-4">
                <h6 class="pb-4">جدیدترین نظرات کاربران</h6>
                <!--Comment 1 -->
                <h6 class="comment-name-footer">محمد حسین</h6>
                <p class="text-footer">
                    همه مسلمانان جهان باید از فلسطین حمایت کنند.
                    فلسطین مسئله اول جهان اسلام بوده و هست و مبارزه با ظلم تا نابودی رژیم منحوس صهیونیستی ادامه دارد.
                </p>
                <!--Comment 2 -->
                <h6 class="comment-name-footer">۱۲۳۴۵۶</h6>
                <p class="text-footer">
                    تست برای ارسال نظر
                </p>
                <!--Comment 3 -->
                <h6 class="comment-name-footer">۱۲۳۴۵۶</h6>
                <p class="text-footer">
                    تست برای ارسال نظر
                </p>
            </div>

            <div class="col-12 col-md-6 col-lg-3 p-4">
                <h6 class="pb-4">گالری تصاویر</h6>
                <ul class="list-unstyled ">
                    <li class="d-inline-flex">
                        <img id="viewImg" src="Assets/Img/ReportImages/9a41f08f-b2d3-40e8-aebd-d1799b2bd100.jpg" class="rounded img-Footer" alt="مراسم ۱۳ آبان ۱۴۰۲ در کشور">
                    </li>
                    <div id="myModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>
                    <script>
                        var modal = document.getElementById('myModal');
                        var img = document.getElementById('viewImg');
                        var modalImg = document.getElementById('img01');
                        modalImg.style.height = "90%";
                        modalImg.style.width = "90%";
                        var captionText = document.getElementById('caption');
                        img.onclick = function () {
                            modal.style.display = "block";
                            modal.style.height = "100%";
                            modalImg.src = this.src;
                            captionText.innerHTML = this.alt;
                        }
                        var span = document.getElementsByClassName("close")[0];
                        span.onclick = function () {
                            modal.style.display = "none";
                        }
                    </script>
                    <li class="d-inline-flex">
                        <img id="" src="Assets/Img/ReportImages/e4fc8eaf-89ce-45cc-bf46-5ead54e0d812.jpg" class="rounded img-Footer" alt="مراسم ۱۳ آبان ۱۴۰۲ در کشور">
                    </li>
                    <li class="d-inline-flex">
                        <img id="" src="Assets/Img/ReportImages/d7bb8fea-c161-441a-a4cb-bbedd23ea2c4.jpg" class="rounded img-Footer" alt="مراسم ۱۳ آبان ۱۴۰۲ در کشور">
                    </li>
                    <li class="d-inline-flex">
                        <img id="" src="Assets/Img/ReportImages/d730f788-76d3-440a-8118-372f0562b346.png" class="rounded img-Footer" alt="مراسم ۱۳ آبان ۱۴۰۲ در کشور">
                    </li>
                    <li class="d-inline-flex">
                        <img id="" src="Assets/Img/ReportImages/c2392af3-c7ec-44c3-adc3-056be62ed564.jpg" class="rounded img-Footer" alt="مراسم ۱۳ آبان ۱۴۰۲ در کشور">
                    </li>
                    <li class="d-inline-flex">
                        <img id="" src="Assets/Img/ReportImages/acd55981-6c23-4c03-a103-188fbb52b1d4.jpg" class="rounded img-Footer" alt="مراسم ۱۳ آبان ۱۴۰۲ در کشور">
                    </li>
                    <li class="d-inline-flex">
                        <img id="" src="Assets/Img/ReportImages/aba900a8-b20c-4208-a364-9c5e6c8ac848.jpg" class="rounded img-Footer" alt="مراسم ۱۳ آبان ۱۴۰۲ در کشور">
                    </li>
                    <li class="d-inline-flex">
                        <img id="" src="Assets/Img/ReportImages/a3fb7df4-f375-40df-b5af-64b2619f831f.jpg" class="rounded img-Footer" alt="مراسم ۱۳ آبان ۱۴۰۲ در کشور">
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!--End Footer -->
    <!-- header and nav scripts -->
    <script src="Assets/Js/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="Assets/Js/run_prettify.js"> </script>
    <script src="Assets/Js/am-menu.js"></script>
    <script src="Assets/Js/scripts.js"></script>
    <script src="Assets/Js/demo-only.js"></script>

    <!-- fontawesome -->
    <script src="Assets/fontawesome/all.min.js"></script>

    <!-- flexslider -->
    <!-- <script type="text/javascript" src="Assets/FlexSlider/jquery.min.js"></script> -->
    <script type="text/javascript" src="Assets/FlexSlider/jquery.flexslider.js"></script>

    <!-- PersianDigits -->
    <script src="~/assets/js/replacedigits/topersiandigits.js"></script>
    <script>

        $(document).ready(function () {

            $('body').traverse();

        });

    </script>


</body>
</html>