@page
@model GharchNews.Pages.Admin.IndexModel
@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3> 96 </h3>

                <p> موضوع </p>
            </div>
            <div class="icon">
                <i class="fa fa-times"></i>
            </div>
            <a href="" class="small-box-footer">
                مشاهده موضوعات <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3> 42 </h3>

                <p> موضوع </p>
            </div>
            <div class="icon">
                <i class="fa fa-times"></i>
            </div>
            <a href="" class="small-box-footer">
                مشاهده موضوعات <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3> 130 </h3>

                <p> موضوع </p>
            </div>
            <div class="icon">
                <i class="fa fa-times"></i>
            </div>
            <a href="" class="small-box-footer">
                مشاهده موضوعات <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3> 6 </h3>

                <p> موضوع </p>
            </div>
            <div class="icon">
                <i class="fa fa-times"></i>
            </div>
            <a href="" class="small-box-footer">
                مشاهده موضوعات <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
</div>