@page
@model GharchNews.Pages.Admin.Gallery.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gallery.GalleryName" class="control-label"></label>
                <input asp-for="Gallery.GalleryName" class="form-control" />
                <span asp-validation-for="Gallery.GalleryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gallery.Description" class="control-label"></label>
                <input asp-for="Gallery.Description" class="form-control" />
                <span asp-validation-for="Gallery.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-default">بازگشت به لیست</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
